* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --blue:	#87CEFA
}


html {
  font-size: 10px;
  overflow: hidden;
}
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


html {
overflow-y: auto;
}


body {
text-align: center;
display: flex;
justify-content: center;
background: linear-gradient(rgb(90, 102, 126), rgb(147, 179, 211));
background-size: cover; /* Dopasowanie do ekranu */
background-position: center; /* Wyśrodkowanie */
background-repeat: no-repeat; /* Zapobieganie powtarzaniu */
background-attachment: fixed;
overflow: auto;
min-height: 100vh;
}

#wrapper {
background: linear-gradient(rgb(255, 255, 255) 70%, rgb(255, 255, 255));
width: 90%;
box-shadow:
0px 15px 30px rgba(0, 0, 0, 0.4),
0px 20px 50px rgba(0, 0, 0, 0.3);
border-radius: 10px;
}

#wrapper {
transition: 0.3s ease-in-out;
}


.logo {
  width: 80px;
  margin-left: 50px;
  padding:0;
  margin-bottom: 12px;;

}


.menu {
  background: linear-gradient(15deg, rgb(21, 2, 39),rgb(32, 22, 41), rgb(4, 2, 36));
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  padding: 0;
  display:flex;
  flex-direction: row;
  
}

.menu a {
color: black;
margin: 0 1rem;
text-decoration: none;
padding: 1rem .5rem;
}

img.tryb {
width: 80px;
margin-right: 90px;
padding: 10px;
}

.logo, .tryb {
filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
transition: 0.3s ease-in-out;
position: relative;
}

.logo:hover {
width: 100px;
filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.999));
}

.tryb:hover {
width: 100px;
filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.999));
}

.dropdown {

border: none;
cursor: pointer;
position: relative;
}

.dropdown:hover .tryb {
width: 100px;
}

.dropdown ul {

  background: rgb(167, 167, 167);
  position: absolute;
  width: 150px;
  list-style-type: none;
  padding: 35 px;
  box-shadow: 0px 0px 23px 0 px rgba(0,0,0,0.25);
  margin-top: -7px;
  border-radius: 7px;
  display: none;
}


.dropdown ul li {
padding: 10px;
font-size: 25px;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown ul li a {
width: 100%;
height: 100%
padding: 0;
margin: 0;
}

.dropdown ul li:hover {
background-color: brown;
}

img.tryb:hover + ul {
display:block;
}


.dropdown ul:hover {
display:block;
}

/* Przełączanie między kartami */

.tab-content {
text-align: center;
margin-top: 80px;
margin-left: 8%;
margin-right: 8%;
}

[data-tab-content] {
display:none;
}

.active[data-tab-content] {
display:block;
}

h1 {
font-size:50px;
position: relative;

}

p {
font-size: 35px;
padding: 35px;
background-color: transparent;
position: relative;
}

img.oliwia {
float:left;
margin-left: 0%;
position: ;
}

h2 {
font-size: 100px;
}

iframe {
  width: 80%;
  margin-bottom: 70PX;
  border: 5px solid transparent;
  background:
              linear-gradient(360deg, white, rgb(22,15,39)) border-box;
  border-radius: 0 0 25px 25px;
}